<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabRC" tabTitle="RC" tabIcon="game-controller-a"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Terminal" tabIcon="desktop"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
