<ion-header>
  <ion-navbar>
    <ion-title>
      Terminal
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Terminal BT
    </ion-card-header>
    <ion-card-content>
      <pre>{{history}}</pre>
    </ion-card-content>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" value="" placeholder="_>" [(ngModel)]="btcmd" (keydown)="keyDownFunction($event)" autocorrect="off" autocapitalize="none"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-start clear small (click)="send2TB($event)" [disabled]="!global.isConnected">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
