page-terminal {
  .card-content{
    background-color: black;
    color: white;
    height: 60vh;
  }
  .input{
    background-color: black;
    color: white;
  }
  .card {
    background-color:black;
    color: white;
  }
  .card-header-md{
    color: white !important;
  }
}
