<ion-header>
  <ion-navbar>
    <ion-title>ArduinoRC BT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>ArduinoRC BT</h2>
  <p>
    Proyecto realizado por la comunidad Arduino Huehuetenango
  </p>
  <pre>
    Estado: {{bt_text_status}}
    Dispositivo: {{global.bt_address}}
  </pre>
    <ion-row>
      <ion-col col-8>
      <ion-select [(ngModel)]="global.bt_address" placeholder="Dispositivo" ionChange="connect()">
        <ion-option *ngFor="let item of bt_list" value="{{item.address}}">{{item.name}}</ion-option>
      </ion-select>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-start clear small (click)="connect()" *ngIf="!bt_status">
          <ion-icon name="bluetooth"></ion-icon>Conectar
        </button>
        <button ion-button icon-start clear small (click)="disconect()" *ngIf="bt_status">
          <ion-icon name="bluetooth"></ion-icon>Desconectar
        </button>
      </ion-col>
    </ion-row>
  <button ion-button full (click)="search()">
    <ion-icon name="bluetooth"></ion-icon> &nbsp;Buscar
  </button>
</ion-content>
