<ion-header>
  <ion-navbar>
    <ion-title>
      Pad
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Usar Giroscopio: </ion-label>
    <ion-toggle [(ngModel)]="global.useGyro"></ion-toggle>
  </ion-item>
  <ion-card>
    <ion-card-content *ngIf="!global.useGyro">
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <button ion-button full large (click)="btnSend($event,'w')">
              <ion-icon name="arrow-round-up"></ion-icon>
            </button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button full large (click)="btnSend($event,'a')">
              <ion-icon name="arrow-round-back"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button color="red" full large (click)="btnSend($event,'p')">
              <ion-icon name="square"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button full large (click)="btnSend($event,'d')">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <button ion-button full large (click)="btnSend($event,'s')">
              <ion-icon name="arrow-round-down"></ion-icon>
            </button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content *ngIf="global.useGyro">
      <ion-grid>
        <ion-row>
          <ion-col>X: {{gyro_x}}</ion-col>
          <ion-col>Y: {{gyro_z}}</ion-col>
          <ion-col>Z: {{gyro_y}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-list>
      <ion-item>
        <ion-range min="0" step="10" max="180" [(ngModel)]="arm_horizontal" color="primary" (ngModelChange)="changeHorizontal()">
          <ion-label range-right>{{arm_horizontal}}</ion-label>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range min="0" step="10" max="180" [(ngModel)]="arm_vertical" color="secondary" (ngModelChange)="changeVertical()">
          <ion-label range-right>{{arm_vertical}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-card>

  <pre>{{history}}</pre>
</ion-content>
